<%= render 'orders/nav-admin' %>
<br>
<br>
<% if user_signed_in? %>
  <h3> <%= "Welcome to your Profile page, #{current_user.email}" %></h3>
 <br>
  <h2>My Profile:</h2>
  <%= link_to "Update profile", edit_user_registration_path, class: "btn btn-outline-info" %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-info" %>
  <br>
  <p><%= "First Name: #{current_user.first_name}" %></p>
  <p><%= "Last name: #{current_user.last_name}" %></p>
  <p><%= "Address: #{current_user.address}" %></p>
  <p><%= "Post code:  #{current_user.post_code}" %></p>
<% end %>
<br>

<h2>Listings for sale:</h2>
<%= link_to "Sell New Item", new_item_path, class: "btn btn-outline-info" %>

<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Sold</th>
    <th>Category</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% current_user.items.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td><%= item.sold %></td>
      <td><%= item.category %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
