<h1>Users#show item</h1>

<% if user_signed_in? %>
  <p> <%= "Welcome, #{current_user.first_name}" %></p>
  <p><%= current_user.email %></p>
  <p><%= "Address - #{current_user.address}" %></p>
  <p><%= "Post code - #{current_user.post_code}" %></p>
<% end %>

<p><%= link_to "Update my profile ", edit_user_registration_path %></p>