<%= render 'orders/nav-admin' %>

<h1>Items you have bought</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Seller</th>
    <th>Category</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @bought_items.each do |bought_item| %>
    <tr>
      <td><%= bought_item.item.title %></td>
      <td><%= number_to_currency(bought_item.item.price) %></td>
      <td><%= bought_item.seller.email %></td>
      <td><%= bought_item.item.category %></td>
    </tr>
  <% end %>
  </tbody>
</table>
