
<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :category, collection: ["Clothes", "Toys", "Kitchenware", "Furniture", "Misc"] %>
    <br>
    <%= f.file_field :item_image, accept: 'image/png, image/jpg, image/jpeg'%>
  </div>
  <br>
  <div class="form-actions btn btn-info">
    <%= f.button :submit %>
  </div>
<% end %>

