<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<% if user_signed_in? %>
  <button data-stripe="payment">Buy Now! <%= number_to_currency(@item.price.to_i) %></button>

  <%= link_to 'Back', items_path %>
  <script src="https://js.stripe.com/v3/"></script>

  <script>
      document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
          const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
          stripe.redirectToCheckout ({
              sessionId: "<%= @session_id %>"
          });
      });
  </script>
<% end %>



<% if @item.item_image.attached? %>
<p>
  <strong>Item_image:</strong>
  <img src="<%= url_for(@item.item_image) %>" alt="image">

</p>
<% end %>

| <%= link_to 'Edit', edit_item_path(@item) %> |

